{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur couple{% endblock %}

{% block body %}
    <section class="section main-banner" id="top" data-section="section1">

        <a href="meeting-details.html"><img class="image" src="{{ asset('assets/assets/images/5.jpg') }}" alt="Online Teaching"></a>

    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="meeting-single-item">
                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>Médiation au sein de la fratrie</h4></a>

                                    <p class="description">
                                        Lorsque les <b>membres de la famille</b> prennent de l’âge, une <b>discussion</b> est souvent <b>nécessaire</b> notamment sur les <b>conditions de vie</b> et les <b>soins</b> à leur <b>apporter</b>. Ces situations compliquent la prise de décisions communes. Souvent, plusieurs membres de la famille (les frères et sœurs, leurs conjoints, les petits enfants) participent à ces échanges et ils ne sont pas toujours d’accord sur les solutions. Chacun peut avoir une perception différente de la situation et des tensions peuvent apparaître.<br><br>

                                        Il est courant de <b>ressentir une émotion intense en parlant des besoins de vos parents</b>. Il n’est pas toujours facile de mettre des mots sur ces besoins, sur vos besoins.<br><br>

                                        Il est précieux d’envisager une <b>médiation familiale</b> afin qu’un tiers neutre guide et modère ces discussions. Le <b>médiateur aidera</b> toutes les personnes concernées à s’exprimer, <b>s’écouter</b>, à comprendre la position de chacun, à <b>mieux communiquer</b> afin de <b>trouver une issue satisfaisante pour tous</b>.<br><br>

                                        La médiation familiale prend en compte les besoins de tous, <b>ceux des aînés et de leur entourage familial</b>.<br><br>

                                        Elle a toute sa place pour accompagner la famille <b>vers des relations apaisées et des décisions adaptées</b>.<br><br>

                                        Le médiateur peut également intervenir en cas de <b>successions</b>, de donations ou de liens rompus.
                                    </p>

                                    <div class="col-lg-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
