{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur & séparation{% endblock %}

{% block body %}

    <section class="section main-banner" id="top" data-section="section1">

        <a href="meeting-details.html"><img class="image" src="{{ asset('assets/assets/images/2.jpg') }}" alt="Online Teaching"></a>

    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="meeting-single-item">
                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>Médiation & séparation</h4></a>

                                    <p class="description">
                                       <B>Vous souhaitez vous séparer et voulez que cela se passe le mieux possible pour vous et vos enfants.</B> <br><br>

                                        Quelle que soit la durée de votre relation, de votre mariage, à un moment donné, vous vous êtes aimés et respectés.<br><br>

                                       <B>La médiation</B> familiale vous permet de <B>trouver une issue</B> à cette situation douloureuse sans vous déchirer et tenter <B>d’obtenir des solutions durables</B> pour vos futures relations, <B>en préservant vos enfants.</B><br><br>

                                        Le médiateur va accueillir les émotions, encourager l’écoute, la compréhension réciproque, pour que vous puissiez comprendre ce qui se joue entre vous et retrouver une communication apaisée et respectueuse.<br><br>

                                        Chacun va pouvoir s’exprimer librement, se sentir écouté et compris dans ses attentes.<br><br>

                                        Le médiateur <B>vous aide à vous mettre d’accord sur tous les aspects de votre séparation ou de votre divorce par consentement mutuel en tenant compte des besoins de chacun</B> : partage du patrimoine commun, contributions financières, autorité parentale, hébergement des enfants…<br><br>

                                        Sa présence neutre et bienveillante favorise la mise en place des règles concrètes de fonctionnement et de communication qui vous facilitent la vie, qui apaisent votre quotidien et vous permettent d’envisager l’avenir plus sereinement.<br><br>

                                        Votre <B>séparation</B> sera <b>réglée</b> de manière respectueuse, <B>rapidement et à moindre coût.</B><br><br>

                                        Grâce à la médiation familiale <B>vous restez maître de votre décision</B> en évitant un jugement imposé, aléatoire ou insatisfaisant et les blessures d’une longue procédure.<br><br>

                                        Au terme de la médiation, <B>vous pourrez repartir avec un accord clair et sur mesure</B>, votre accord, que vous choisirez ou non de faire homologuer par le tribunal. <B>En cas d’homologation, votre accord aura alors</B>  <B>la valeur d’un jugement.</B><br><br>

                                        Si vous êtes mariés, <B>l’accord de médiation servira de base pour la rédaction de vos conventions de divorce par consentement mutuel.</B> <br><br>

                                        <B>La médiation familiale permet</B> également aux couples déjà séparés ou divorcés <B></B>  d’ajuster <B></B>  leurs accords passés en privilégiant l’écoute et les besoins de chacun et <B>de prévenir de futurs conflits.</B> <br><br>
                                    </p>

                                    <div class="col-lg-12">

                </div>
            </div>
        </div>
        </div>
    </section>


{% endblock %}
