<div class="footer">
    <p style="color: black">Copyright © 2023 Magib Sall, Ltd. All Rights Reserved.
        <br>
        Design: <a  href="https://portfoliomagibsall.eu/" target="_blank" title="free css templates">Magib Sall</a>
        <br>

    </p>
</div>