<div class="footer">
    <p style="color: black">Copyright © 2023 Magib Sall, Ltd. All Rights Reserved.
        <br>
        Design: <a href="https://templatemo.com" target="_parent" title="free css templates">Magib Sall</a>
        <br>
        Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">MagibSallCorporation</a>
    </p>
</div>