{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur & séparation{% endblock %}

{% block body %}
    <section class="heading-page3 header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">


                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="meeting-single-item">

                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>Médiation de couple</h4></a>
                                    {#                                <p>Recreio dos Bandeirantes, Rio de Janeiro - RJ, 22795-008, Brazil</p>#}
                                    <p class="description">
                                        Votre couple traverse un moment difficile.

                                        Vous n’arrivez pas à résoudre vos difficultés sans aide extérieure, néanmoins vous ne souhaitez pas faire une longue thérapie de couple.

                                        La médiation de couple est une démarche à court terme, pratique, qui s’attaque aux problèmes concrets et aux difficultés de communication. <br>

                                        <br> « il ne me dit plus rien, nous nous éloignons de plus en plus »
                                        <br> « elle me fait toujours les mêmes reproches »
                                        <br> « depuis la naissance de notre enfant, je ne la reconnais plus »
                                        <br>  « je ne sais comment lui faire part de mes difficultés professionnelles »
                                        <br>  « il ne supporte plus mes amis »
                                        <br>  « nous n’arrivons plus à communiquer »
                                        <br>  « le quotidien de notre famille recomposée est compliqué »
                                        <br>   « quand on parle d’argent, ça se termine en dispute »
                                        <br><br>   La médiation de couple  offre un espace sécurisé de liberté, confidentiel, bienveillant et non jugeant encadré par un professionnel neutre et impartial, le médiateur;  chacun peut dire ce qui se passe, ce qui est important pour lui ou elle, et être écouté.

                                        <br> <br>   Elle s’adresse à tous les couples qui rencontrent des difficultés ou un conflit dans leur relation, en souffrent et souhaitent trouver une issue.

                                        <br><br>   Les séances proposées permettent de comprendre et clarifier ce qui se passe, de faire évoluer la communication et la relation, de prendre les décisions nécessaires à un apaisement de la situation.

                                        <br>  <br>   Le médiateur va aider notamment les personnes à exprimer leurs besoins, mieux comprendre le fonctionnement de leur couple et mettre en place des changements concrets. Il va transmettre aux personnes des outils qu’elles pourront utiliser à la maison lorsqu’il n’est plus là.

                                        <br> <br>   Les personnes réussiront alors à redynamiser leur couple et retrouver du plaisir à être ensemble.

                                        <br>  <br>    A la différence de la thérapie de couple, davantage axée sur les causes et les origines du dysfonctionnement, la médiation est très axée sur des questions immédiates : comment faire autrement face à une situation conflictuelle ? Elle se distingue aussi du conseil conjugal et familial qui travaille davantage sur le long terme.
                                    </p>
                                    {#                                <div class="row">#}
                                    {#                                    <div class="col-lg-4">#}
                                    {#                                        <div class="hours">#}
                                    {#                                            <h5>Hours</h5>#}
                                    {#                                            <p>Monday - Friday: 07:00 AM - 13:00 PM<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="col-lg-4">#}
                                    {#                                        <div class="location">#}
                                    {#                                            <h5>Location</h5>#}
                                    {#                                            <p>Recreio dos Bandeirantes,#}
                                    {#                                                <br>Rio de Janeiro - RJ, 22795-008, Brazil</p>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="col-lg-4">#}
                                    {#                                        <div class="book now">#}
                                    {#                                            <h5>Book Now</h5>#}
                                    {#                                            <p>010-020-0340<br>090-080-0760</p>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                                <div class="col-lg-12">
                                    {#                                        <div class="share">#}
                                    {#                                            <h5>Share:</h5>#}
                                    {#                                            <ul>#}
                                    {#                                                <li><a href="#">Facebook</a>,</li>#}
                                    {#                                                <li><a href="#">Twitter</a>,</li>#}
                                    {#                                                <li><a href="#">Linkedin</a>,</li>#}
                                    {#                                                <li><a href="#">Behance</a></li>#}
                                    {#                                            </ul>#}
                                    {#                                        </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                    <div class="col-lg-12">#}
                {#                        <div class="main-button-red">#}
                {#                            <a href="meetings.html">Contactez-moi</a>#}
                {#                        </div>#}
                {#                    </div>#}
            </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}
