{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur & séparation{% endblock %}

{% block body %}
    <section class="section main-banner" id="top" data-section="section1">

        <a href="meeting-details.html"><img class="image" src="{{ asset('assets/assets/images/3.jpg') }}" alt="Online Teaching"></a>

    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="meeting-single-item">

                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>Médiation Parents-Ados</h4></a>

                                    <p class="description">
                                        Vous êtes en <b> conflit avec l’un de vos enfants/ adolescents</b> qui ne veut plus vous voir ou moins, ou vous êtes souvent en <b>désaccord</b>, les <b>échanges</b> sont <b>difficiles</b> voire impossibles ; la relation se distend et l’incompréhension domine. <br><br>

                                        La médiation familiale va <b>favoriser le dialogue</b> et <b>apaiser la relation</b> en vous offrant un <b>espace de parole respectueux</b> et <b>confidentiel</b>, un cadre neutre et rassurant qui va permettre à chacun d’entre vous de s’exprimer en toute sécurité et sans aucun jugement.<br><br>

                                        </b>                  Le  <b> processus</b> de médiation familiale a de nombreux  <b>avantages</b> et permet de :<br><br>

                                        <b>>>></b>  <b> travailler</b> le  <b>conflit au présent</b>; il est  <b>court</b> et <b>concret</b> <br><br>
                                            <b>>>></b>  <b>rétablir</b> une  <b>communication</b> entre vous parents et votre enfant/ado ou mieux communiquer en s’écoutant et en se comprenant <br>
                                            <b>>>></b>  <b>reconstruire</b> un  <b>lien</b> parents /enfants /ados <br><br>
                                       <b>>>></b> mieux comprendre les besoins de chacun<br><br>
                                            <b>>>></b>  <b>redéfinir</b> la  <b>place</b> et le rôle  <b>de chacun</b><br><br>
                                       <b>>>></b> clarifier les malentendus<br><br>
                                            <b>>>></b>  <b>co-construire</b> ensemble des  <b>solutions</b> pour un mieux vivre ensemble<br><br>
                                            <b>>>></b>  <b>La médiation familiale sollicite</b> donc  <b>l’autonomie</b> et la <b>créativité</b> des parents et de l’adolescent. Chacun prend une part active à la discussion et contribue à la recherche de solutions mutuellement acceptables.
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}
