RewriteEngine on
RewriteCond %{HTTP_HOST} ^preformation.portfoliomagibsall.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.preformation.portfoliomagibsall.eu$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]