{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur & séparation{% endblock %}

{% block body %}
    <section class="section main-banner" id="top" data-section="section1">

        <a href="meeting-details.html"><img class="image" src="{{ asset('assets/assets/images/4.jpg') }}" alt="Online Teaching"></a>

    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="meeting-single-item">

                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>Médiation parents/grands parents</h4></a>

                                    <p class="description">
                                        Vous êtes <b> grands-parents</b> en conflit avec votre enfant et ne pouvez plus être en lien avec vos petits-enfants ou inversement vous êtes en conflit avec vos parents ou beaux-parents et n’êtes plus en confiance pour confier votre enfant.
                                        La médiation familiale peut permettre l’apaisement et de retrouver des liens plus sereins où chacun est à sa juste place avec respect et bienveillance.<br><br>

                                        La médiation favorise une relation transgénérationnelle dans la paix.<br><br>

                                        Elle aide également à clarifier les besoins de chacun, à expérimenter des reprises de lien, à prendre le temps de se sécuriser, à tendre à des relations apaisées et de confiance.<br><br>

                                        L’enfant sera ainsi libre d’appartenir et de vivre dans une famille où il a sa place tant dans ses racines paternelles que maternelles sans conflit de loyauté.
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}
