{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur couple{% endblock %}

{% block body %}

    <section class="heading-page1 header-text" id="top">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="meeting-single-item">
                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>Médiation & séparation</h4></a>
                                    {#                                <p>Recreio dos Bandeirantes, Rio de Janeiro - RJ, 22795-008, Brazil</p>#}
                                    <p class="description">
                                        Votre couple traverse un moment difficile.

                                        Vous n’arrivez pas à résoudre vosdifficultés sans aide extérieure,néanmoins vous ne souhaitez pas faire un longue thérapie de couple.

                                        La médiation de couple est une démarche àcourt terme, pratique, qui s’attaque auxproblèmes concrets et aux difficultés decommunication. <br>

                                        <br> « il ne me dit plus rien, nous nous éloignons de plus en plus »
                                        <br> « elle me fait toujours les mêmesreproches »
                                        <br> « depuis la naissance de notre enfant, je ne la reconnais plus »
                                        <br>  « je ne sais comment lui faire partde mes difficultés professionnelles »
                                        <br>  « il ne supporte plus mes amis »
                                        <br>  « nous n’arrivons plus à communiquer »
                                        <br>  « le quotidien de notre famillerecomposée est compliqué »
                                        <br>   « quand on parle d’argent, ça setermine en dispute »
                                        <br><br>   La médiation de couple  offreun espace sécurisé de liberté,confidentiel, bienveillant et non jugean encadré par un professionnel neutre et impartial, le médiateur;  chacun peutdire ce qui se passe, ce qui estimportant pour lui ou elle, et êtreécouté.
                                        <br> <br>   Elle s’adresse à tous lecouples qui rencontrent des difficultéou un conflit dans leur relation, esouffrent et souhaitent trouver une issue.
                                        <br><br>   Les séances proposéepermettent de comprendre et clarifier cqui se passe, de faire évoluer lcommunication et la relation, de prendrles décisions nécessaires à un apaiseme de la situation.

                                        <br>  <br>   Le médiateur va aidernotamment les personnes à exprimer leursbesoins, mieux comprendre lefonctionnement de leur couple et mettreen place des changements concrets. Il vatransmettre aux personnes des outilsqu’elles pourront utiliser à la maisonlorsqu’il n’est plus là.

                                        <br> <br>   Les personnes réussiront alorà redynamiser leur couple et retrouverduplaisir à être ensemble.
                                        <br>  <br>    A la différence de lathérapie de couple, davantage axée surles causes et les origines dudysfonctionnement, la médiation est trèsaxée sur des questions immédiates :comment faire autrement face à unesituation conflictuelle ? Elle sedistingue aussi du conseil conjugal etfamilial qui travaille davantage sur lelong terme.
                                    </p>

                                    <div class="col-lg-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}